ul {
    list-style-type: none;
    display: flex;
}

.header {
    background-color: #1f2937;
    color: white;
}

.title {
    font-size: 24px;
    font-weight: bold;

}
.header .right-linkes {
    font-size: 18px;
}

.row-one {
    background-color: #1f2937;
    color: white;
}