body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Hero Regular', sans-serif;
}
.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 100vh;
}

.row-one {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 120px;
    flex: 1;
}

.button-one {
    background-color: #3882F6;
    color: white;
    width: 150px;
    border-radius: 10px;
    padding: 10px 5px;
    font-weight: bold;
    font-size: 24;
    margin: 20px 5px;
    border: 1px solid #3882F6
}

.heading-one {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8
}

.text-one {
    font-size: 18px;
    color: #e5e7eb
}

.left-one {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: auto;
    flex-shrink: 2;
}

.right-one {
    display: flex; 
    background-color: #7b7c7e;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 800px;
    margin-left: 30px;
    flex-shrink: 1;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 15px;
    font-family: 'Hero Light', sans-serif;
    color: #e5e7eb
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    margin: 10px 0px 0px 110px;
}

.right-links {
    font-size: 18px;
    display: flex;
    padding: 20px;
    margin-right: 100px;
}

.row-one, .footer {
    background-color: #1f2937;
    color: white;
    display: flex;
}

.row-two {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px 60px 0px 60px;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
    padding-bottom: 30px;
    display: flex;
    justify-self: center;
    align-self: center;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 53px;
    padding: 20px 110px 120px 110px;
}

.info {
    min-width: none;
    max-width: 200px;
}

.heading-two {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding: 60px 60px 50px 60px;
}

.row-three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    box-sizing: border-box
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    padding: 80px 120px 10px 120px;
    font-family: 'Hero Light', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 60px 5px 60px;
}

.author {
    color: #1f2937;
    font-size: 24px;
    font-weight: bolder;
    padding: 20px 20px 80px 20px;
    display: flex;
    margin-right: 180px;
    align-self: flex-end;
    justify-content: center;
}

.row-four {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue-box {
    background-color: #3882F6;
    color: white;
    display: flex;
    border-radius: 10px;
    align-items: center;
    margin: 90px 80px 90px 80px;
    padding: 40px 30px;
}

.heading-four {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    margin-bottom: 5px;
}

.info-four {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.text-four {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
}

.button-four {
    background-color: #3882F6;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    margin: 30px 100px;
    font-size: 18px;
}

.footer {
    font-family: 'Hero Regular', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #e5e7eb;
    flex: 1;
}